html{
    height: 100%;
}

body{
    margin: 0;
}

nav {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 280px;
    height: 100vh;
    background-color: #242424;
    font-size: 15pt;
    display: inline-block;
}

nav ul{
    list-style-type: none;
    padding-left: 40px;
    list-style: none;
    margin-top: 0px;
}

nav ul li{
    margin-top: 8px;
    margin-bottom: 7px;
    color: gray;
}

nav ul li a{
    text-decoration: none;
    color: gray;
}

nav ul li a:hover{
    background-color: lightgray;
    
}

nav ul hr{
    width: 85%;
    margin-left: 0px;
    margin-bottom: 30px;
    margin-top: 20px;
}

nav ul ul li{
    
}

nav ul ul hr{
    width: 80%;
}

.contentBox{
    left: 300px;
    position: absolute;
    display: inline-block;
}

#jackie{
    visibility: visible;
}

#kevin{
    visibility: hidden;
}

#rpgmerker{
    visibility: hidden;
}

#smiteTeemo{
    visibility: hidden;
}

#WernderingSturm{
    visibility: hidden;
}

#Adobecard{
    visibility: hidden;
}

#NChatN{
    visibility: hidden;
}

#PlushieBot{
    visibility: hidden;
}

#HackerNewsFeed{
    visibility: hidden;
}

#WaywardSail{
    visibility: hidden;
}

@media (max-height: 1000px) {    
   nav {
       min-height: 1000px;
   }
}