html{
    height: 100%;
}

body{
    margin: 0;
}

nav {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 280px;
    height: 100vh;
    background-color: #242424;
    font-size: 15pt;
    display: inline-block;
}

nav ul{
    list-style-type: none;
    padding-left: 40px;
    list-style: none;
    margin-top: 0px;
}

nav ul li{
    margin-top: 8px;
    margin-bottom: 7px;
    color: gray;
}

nav ul li a{
    text-decoration: none;
    color: gray;
}

nav ul li a:hover{
    background-color: lightgray;
    
}

nav ul hr{
    width: 85%;
    margin-left: 0px;
    margin-bottom: 30px;
    margin-top: 20px;
}

nav ul ul li{
    
}

nav ul ul hr{
    width: 80%;
}

.contentBox{
    left: 300px;
    position: absolute;
    display: inline-block;
    
}

.leftBox{
    display: inline-block;
    width: 75%;
}

.rightBox{
    display: inline-block;
    float: right;
    width: 20%;
    padding-top: 20px;
    padding-right: 20px;
    background-color: "lightblue";
}

.imageLists{
    display: inline;
}

.imageLists img{
    max-width: 250px;
    max-height: 180px;
}

.rightBox img{
    width: 100%;
}

.lightbox {
	display: none;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox img {
	max-width: 95%;
	max-height: 95%;
	margin-top: 2%;
}

.lightbox:target {
	outline: none;
	display: block;
}

#jackie{
    visibility: visible;
}

#kevin{
    visibility: hidden;
}

#rpgmerker{
    visibility: hidden;
}

#smiteTeemo{
    visibility: hidden;
}

#WernderingSturm{
    visibility: hidden;
}

#Adobecard{
    visibility: hidden;
}

#NChatN{
    visibility: hidden;
}

#PlushieBot{
    visibility: hidden;
}

#HackerNewsFeed{
    visibility: hidden;
}

#WaywardSail{
    visibility: hidden;
}

@media (max-height: 1000px) {    
   nav {
       min-height: 1000px;
   }
}